.statistics__wrapper{
    position: absolute;
    bottom: 0%;
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    // font-size: 1.4rem;
    // font-weight: 400;
    color: var(--white200);
    background-color: var(--black300);
    transform: translate(0%, 0%);
    transition: var(--transition);

}

@property --hoursPlayed {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@property --minutesPlayed{
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.statistics{
    &__timePlayed{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        padding: 0 0.3rem;
        text-align: center;
        border: 0.4rem solid var(--white200);
        border-radius: 50%;
        counter-reset: hours var(--hoursPlayed) minutes var(--minutesPlayed);
        transition: --hoursPlayed 1000ms ease-out, --minutesPlayed 1500ms ease-out;

        &:after{
            content: counter(hours) "h " counter(minutes) "min"
        }
    }
}

@property --value {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    background-color: var(--black300);
    font-size: 1.6rem;
    transition: --value 1000ms ease-out;
    counter-reset: num var(--value);

    &:after {
        content: counter(num) "%";
    }
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.circle-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: --angle 1000ms ease-out;
    background: conic-gradient(#00a86b var(--angle), var(--white200) var(--angle));
}