:root{
    --black600: #0c0c0f;
    --black500: #13131a;
    --black400: #1f1f29;
    --black300: #2d2e31;

    --white600: #f7f7f7;
    --white500: #f0f0f5;
    --white400: #e6e6eb;
    --white300: #e1e1e5;
    --white200: #e5e1e1;

    --lightblue600: #52bfff;
    --lightblue500: #4cbaff;
    --lightblue400: #45b6fe;
    --lightblue300: #3ab0f4;
    --lightblue200: #33a7da;

    --font-family: "Montserrat", "Roboto", "Open Sans";

    --transition: all 500ms ease;
}